# requirements.txt includes all the required packages for the project

torch
transformers
pillow
# requests
# tkinter
requests
diffusers
# tkinter is a built-in package (kept for reference)

#opencv for image
opencv-python
#visualization
matplotlib